{% extends 'base.html' %}
{% load static %}
{% block title %} Chats | Task Unity {% endblock %}

{% block content %}

<div class="flex">
    <div id="default-offcanvas"
        class="lg:block hidden top-0 left-0 transform h-full min-w-[16rem] me-6 card rounded-none lg:rounded-md fc-offcanvas-open:translate-x-0 lg:z-0 z-50 fixed lg:static lg:translate-x-0 -translate-x-full transition-all duration-300"
        tabindex="-1">
        <div class="p-5">
            <div class="relative">
                <button class="btn inline-flex justify-center items-center bg-primary text-white w-full">
                    <i class="mgc_inbox_fill text-lg me-2"></i> Inbox
                </button>
            </div>

            <div class="space-y-2 mt-4">

                <div class="card-body mb-2">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <div class="flex justify-center items-center h-9 w-9 rounded-full bg text-white bg-primary">
                                <i class="mgc_message_3_line text-lg"></i>
                            </div>
                        </div>
                        <div class="flex-grow truncate ms-2">
                            <h5 class="text-sm font-semibold mb-1">Datacorp <small
                                    class="font-normal text-gray-500 ms-1">1 min ago</small></h5>
                            <small class="noti-item-subtitle text-muted"> Requested for withdrawl</small>
                        </div>
                    </div>
                </div>



                <div class="card-body mb-2">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <div class="flex justify-center items-center h-9 w-9 rounded-full bg-info text-white">
                                <i class="mgc_user_add_line text-lg"></i>
                            </div>
                        </div>
                        <div class="flex-grow truncate ms-2">
                            <h5 class="text-sm font-semibold mb-1">Admin <small class="font-normal text-gray-500 ms-1">1
                                    hr ago</small></h5>
                            <small class="noti-item-subtitle text-muted">Transfer money</small>
                        </div>
                    </div>
                </div>


                <a href="javascript:void(0);" class="block mb-4">
                    <div class="card-body">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <img src="assets/images/users/avatar-2.jpg" class="rounded-full h-9 w-9" alt="">
                            </div>
                            <div class="flex-grow truncate ms-2">
                                <h5 class="text-sm font-semibold mb-1">Cristina Pride <small
                                        class="font-normal text-gray-500 ms-1">1 day ago</small></h5>
                                <small class="noti-item-subtitle text-muted">Hi, How are you? What about
                                    our
                                    next meeting</small>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="block mb-4">
                    <div class="card-body">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <img src="assets/images/users/avatar-2.jpg" class="rounded-full h-9 w-9" alt="">
                            </div>
                            <div class="flex-grow truncate ms-2">
                                <h5 class="text-sm font-semibold mb-1">Cristina Pride <small
                                        class="font-normal text-gray-500 ms-1">1 day ago</small></h5>
                                <small class="noti-item-subtitle text-muted">Hi, How are you? What about
                                    our
                                    next meeting</small>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="block mb-4">
                    <div class="card-body">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <img src="assets/images/users/avatar-2.jpg" class="rounded-full h-9 w-9" alt="">
                            </div>
                            <div class="flex-grow truncate ms-2">
                                <h5 class="text-sm font-semibold mb-1">Cristina Pride <small
                                        class="font-normal text-gray-500 ms-1">1 day ago</small></h5>
                                <small class="noti-item-subtitle text-muted">Hi, How are you? What about
                                    our
                                    next meeting</small>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="block mb-4">
                    <div class="card-body">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <img src="assets/images/users/avatar-2.jpg" class="rounded-full h-9 w-9" alt="">
                            </div>
                            <div class="flex-grow truncate ms-2">
                                <h5 class="text-sm font-semibold mb-1">Cristina Pride <small
                                        class="font-normal text-gray-500 ms-1">1 day ago</small></h5>
                                <small class="noti-item-subtitle text-muted">Hi, How are you? What about
                                    our
                                    next meeting</small>
                            </div>
                        </div>
                    </div>
                </a>



                <a href="javascript:void(0);" class="block mb-4">
                    <div class="card-body">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <div
                                    class="flex justify-center items-center h-9 w-9 rounded-full bg-primary text-white">
                                    <i class="mgc_message_1_line text-lg"></i>
                                </div>
                            </div>
                            <div class="flex-grow truncate ms-2">
                                <h5 class="text-sm font-semibold mb-1">Datacorp</h5>
                                <small class="noti-item-subtitle text-muted">Caleb Flakelar commented on
                                    Admin</small>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="javascript:void(0);" class="block">
                    <div class="card-body">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <img src="assets/images/users/avatar-4.jpg" class="rounded-full h-9 w-9" alt="">
                            </div>
                            <div class="flex-grow truncate ms-2">
                                <h5 class="text-sm font-semibold mb-1">Karen Robinson</h5>
                                <small class="noti-item-subtitle text-muted">Wow ! this admin looks good
                                    and
                                    awesome design</small>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="block"></a>
                <div class="card-body">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img src="assets/images/users/avatar-4.jpg" class="rounded-full h-9 w-9" alt="">
                        </div>
                        <div class="flex-grow truncate ms-2">
                            <h5 class="text-sm font-semibold mb-1">Karen Robinson</h5>
                            <small class="noti-item-subtitle text-muted">Wow ! this admin looks good
                                and
                                awesome design</small>
                        </div>
                    </div>
                </div>
                </a>


            </div>


        </div>
    </div>

    <div class="w-full">
        <div class="grid 2xl:grid-cols-4 sm:grid-cols-2 grid-cols-1 ">
            <div class="2xl:col-span-4 sm:col-span-2">
                <div class="flex items-center justify-between gap-4">
                    <div class="lg:hidden block">
                        <button data-fc-target="default-offcanvas" data-fc-type="offcanvas"
                            class="inline-flex items-center justify-center text-gray-700 border border-gray-300 rounded shadow hover:bg-slate-100 dark:text-gray-400 hover:dark:bg-gray-800 dark:border-gray-700 transition h-9 w-9 duration-100">
                            <div class="mgc_menu_line text-lg"></div>
                        </button>
                    </div>
                    <h4 class="text-xl">Chats</h4>
                </div>
            </div>

            <div class="2xl:col-span-4 sm:col-span-2">
                <div class="card">
                    <div class="card-header">
                        <div class="flex justify-between items-center">
                            <div class="flex items-center gap-3">
                                <div class="relative h-10 w-10 inline-flex">
                                    <img src="{% static 'assets/images/users/saraj.jpg' %}" alt="image"
                                        class="rounded-full">
                                    <div class="absolute end-0 h-3 w-3 rounded-full border border-white bg-success">
                                    </div>
                                </div>
                                <h4 class="text-lg font-semibold text-gray-800 dark:text-gray-300"> Saraj Dhakal
                                </h4>
                            </div>
                            <div class="flex items-center gap-2">
                                <button
                                    class="w-10 h-10 rounded-full inline-flex items-center justify-center bg-primary/25 hover:bg-primary hover:text-white "
                                    title="Audio Call">
                                    <i class="mgc_phone_line text-2xl "></i>
                                </button>
                                <button
                                    class="w-10 h-10 rounded-full inline-flex items-center justify-center bg-success/25 hover:bg-success hover:text-white"
                                    title="Video Call">

                                    <i class="mgc_camcorder_line text-2xl "></i>

                                </button>
                                <button
                                    class="w-10 h-10 rounded-full inline-flex items-center justify-center bg-success/25  hover:bg-secondary hover:text-white"
                                    title="More" data-fc-type="dropdown">

                                    <i class="mgc_menu_line text-2xl   "></i>

                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="flex flex-col">
                        <div class="overflow-x-auto">
                            <div class="inline-block min-w-full align-middle">
                                <div class="overflow-hidden">

                                    <div class="flex flex-col gap-4 overflow-auto p-4 h-[calc(100vh-300px)] kanban-board custom-scroll"
                                        id="kanbanborad-two">




                                        <div class="text-right">
                                            <div class="bg-dark/25 text-slate-900 dark:text-slate-200 text-sm rounded-md m-1 p-4 inline-block "
                                                role="alert">
                                                <span class="font-bold">Secondary</span> alert! You should check in
                                                on
                                                some
                                                of those fields below.
                                            </div>
                                            <div class="bg-dark/25 text-slate-900 dark:text-slate-200 text-sm rounded-md inline-block m-1 p-4"
                                                role="alert">
                                                <span class="font-bold">Secondary</span> alert! You should check in
                                                on
                                                some
                                                of those fields below.
                                            </div>
                                        </div>



                                        <div class="flex items-center gap-3 ">
                                            <div class="relative h-10 w-10 inline-flex">
                                                <img src="{% static 'assets/images/users/saraj.jpg' %}" alt="image"
                                                    class="rounded-full">
                                                <div
                                                    class="absolute end-0 h-3 w-3 rounded-full border border-white bg-success">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="bg-secondary/25 text-secondary text-sm rounded-md p-4 m-1"
                                                    role="alert">
                                                    <span class="font-bold">Hello</span> alert! You should check in
                                                    on
                                                    some
                                                    of those fields below.hjjjjjjjjjjjjjjjjjjjjjjjjj
                                                </div>
                                                <div class="bg-secondary/25 text-secondary text-sm rounded-md p-4 m-1"
                                                    role="alert">
                                                    <span class="font-bold">Secondary</span> alert! You should check in
                                                    on
                                                    some
                                                    of those fields below.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="flex p-3">
                            <form class="grid grid-cols-2 gap-4 mb-6">
                                <div>
                                    <textarea name="message" rows="2"
                                        class="form-input rounded-lg p-3 bg-[#f7f3e9] text-gray-600"
                                        placeholder="Hello Hanuman..."></textarea>
                                </div>

                                <div>
                                    <button type="submit" class="btn bg-primary text-white"><i
                                            class="mgc_send_line"></i>
                                        Send</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}