{% extends 'base.html' %}
{% load static %}
{% block title %} Chats | Task Unity {% endblock %}

{% block content %}

<div class="flex justify-between items-center mb-6">
    <h4 class="text-slate-900 dark:text-slate-200 text-lg font-medium">Chats</h4>

    <div class="md:flex hidden items-center gap-2.5 text-sm font-semibold">
        <div class="flex items-center gap-2">
            <a href="/" class="text-sm font-medium text-slate-700 dark:text-slate-400">Task Unity</a>
        </div>
        <div class="flex items-center gap-2">
            <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
            <a href="/user_list" class="text-sm font-medium text-slate-700 dark:text-slate-400" aria-current="page">Chats</a>
        </div>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="bg-red-500 text-sm text-white rounded-md p-4 inline-block" role="alert">
            {{ message }}
        </div>
        {% elif message.tags == 'success' %}
        <div class="bg-green-500 text-sm text-white rounded-md p-4 inline-block" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="bg-blue-500 text-sm text-white rounded-md p-4 inline-block" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}



<div class="grid lg:grid-cols-3 gap-6">
    <div class="col-span-1">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Chat Inbox</h6>
            </div>
            
            <div class="flex justify-center m-2 gap-2">
                <button class="btn rounded-full bg-info/25 text-info hover:bg-info hover:text-white" data-fc-behavior="static" data-fc-type="modal" type="button">
                    <i class="mgc_add_line me-3"> </i> New Chat
                </button>

                <div class="w-full h-full mt-5 fixed top-0 left-0 z-50 transition-all duration-500 fc-modal hidden">
                    <div class="fc-modal-open:opacity-100 duration-500 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto flex flex-col bg-white border shadow-sm rounded-md dark:bg-slate-800 dark:border-gray-700">
                        <div class="flex justify-between items-center py-2.5 px-4 border-b dark:border-gray-700">
                            <h3 class="font-medium text-gray-800 dark:text-white text-lg">
                                Create a New Chat
                            </h3>
                            <button class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 dark:text-gray-200"
                                    data-fc-dismiss type="button">
                                <span class="material-symbols-rounded">close</span>
                            </button>
                        </div>
                        <div class="px-4 py-4 overflow-y">
                           
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="text-gray-800 text-sm font-medium inline-block mb-2">Give your chat a name</label>
                                    <input type="text" name="name" class="form-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Eg: Task Unity Chat" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="text-gray-800 text-sm font-medium inline-block mb-2">Select Friend for Chat (Multiple Also Available)</label>
                                    <select id="search-select" name ="friends"class="search-select" multiple="multiple" required>
                                      {% for user in users %}
                                   <option value={{user.id}}>{{ user.username }}</option>
                                  {% endfor %}
                                    </select>                              
                                 </div>
                               
                            
                        </div>
                        <div class="flex justify-end items-center gap-4 p-4 border-t dark:border-slate-700">
                            <button class="py-2 px-5 inline-flex justify-center items-center gap-2 rounded dark:text-gray-200 border dark:border-slate-700 font-medium hover:bg-slate-100 hover:dark:bg-slate-700 transition-all"
                                    data-fc-dismiss type="button">Close
                            </button>

                            <button type="Submit" class="py-2.5 px-4 inline-flex justify-center items-center gap-2 rounded bg-primary hover:bg-primary-600 text-white"
                               >Create</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>


    <div class="table overflow-hidden w-full">
                <div class="p-4 h-80" data-simplebar>
                        {% for i in rooms %}
                            {% if request.user.username == i.user1 or request.user in i.friends.all %}
                                <a href="{{i.slug}}" class="block mb-4">
                                    <div class="card-body">
                                        <div class="flex items-center">
                                            <div class="flex-shrink-0">
                                                <img src="{% static 'assets/images/users/saraj.jpg'%}" class="rounded-full h-9 w-9" alt="">
                                            </div>
                                            <div class="flex-grow truncate ms-2">
                                                <h5 class="text-sm font-semibold mb-1">{{ i.name }} 
                                                </h5>
                                                <small class="noti-item-subtitle text-muted">Members: {% for friend in i.friends.all %}
                                                    {{request.user}},{{ friend.username }}
                                                    {% if not forloop.last %}, {% endif %}
                                                {% endfor %}</small>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                         {% endfor %}
                 </div>
            </div>
        </div>
    </div>

    <div class="lg:col-span-2">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Task Unity Chats</h4>
            </div>

            <div class="relative bg-white border shadow-sm dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                <img class="w-full h-full opacity-50" src="{% static 'assets/images/p1.jpg'%}" alt="Image Description">
                <div class="absolute inset-0 flex items-center justify-center">
                    <div class="p-6">
                        <button class="btn rounded-full bg-info/25 text-info hover:bg-info hover:text-white">
                            <i class="mgc_send_line me-3"></i> Send Message to friends or group
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

   
</div>






{% endblock %}