{% extends 'base.html' %}
{% load static %}
{% block title %} Employee List | Task Unity {% endblock %}

{% block content %}
<div class="flex justify-between items-center mb-6">
    <h4 class="text-slate-900 dark:text-slate-200 text-lg font-medium">Employee List</h4>

    <div class="md:flex hidden items-center gap-2.5 text-sm font-semibold">
        <div class="flex items-center gap-2">
            <a href="/" class="text-sm font-medium text-slate-700 dark:text-slate-400">Task Unity</a>
        </div>

        <div class="flex items-center gap-2">
            <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
            <a href="/user_list" class="text-sm font-medium text-slate-700 dark:text-slate-400" aria-current="page">Employee</a>
        </div>
    </div>
</div>

<div class="mt-6">
    <div class="card">
        <div class="flex flex-wrap justify-between items-center gap-2 p-6">
            <a href="#" class="btn bg-danger/20 text-sm font-medium text-danger hover:text-white hover:bg-primary"><i class="mgc_add_circle_line me-3"></i> Employee</a>
            
        </div>
        <div class="relative overflow-x-auto">
            <table class="w-full divide-y divide-gray-300 dark:divide-gray-700">
                <thead class="bg-slate-300 bg-opacity-20 border-t dark:bg-slate-800 divide-gray-300 dark:border-gray-700">
                    <tr>
                        <th scope="col" class="py-3.5 ps-4 pe-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">ID</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200"> Name</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Email Address</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Position</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Department</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Age</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Experience</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-gray-200">Action</th>

                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 dark:divide-gray-700 ">
              
                {% for employee in employee %}
                    <tr>
                        <td class="whitespace-nowrap py-4 ps-4 pe-3 text-sm font-medium text-gray-900 dark:text-gray-200"><b>{{ employee.id}}</b></td>
                        <td class="whitespace-nowrap py-4 pe-3 text-sm">
                            <div class="flex items-center">
                               
                                <div class="font-medium text-gray-900 dark:text-gray-200 ms-4">{{employee.name}}</div>
                            </div>
                        </td>                        <td class="whitespace-nowrap py-4 pe-3 text-sm font-medium text-gray-900 dark:text-gray-200">{{employee.email}}</td>
                        <td class="whitespace-nowrap py-4 pe-3 text-sm font-medium text-gray-900 dark:text-gray-200">{{employee.position}}</td>
                        <td class="whitespace-nowrap py-4 pe-3 text-sm font-medium text-gray-900 dark:text-gray-200">{{employee.department}}</td>
                        <td class="whitespace-nowrap py-4 pe-3 text-sm font-medium text-gray-900 dark:text-gray-200">{{employee.age}}</td>
                        <td class="whitespace-nowrap py-4 pe-3 text-sm font-medium text-gray-900 dark:text-gray-200"></td>
                        <td class="whitespace-nowrap py-4 px-3 text-center text-sm font-medium">
                            <a href="javascript:void(0);" class="me-0.5"> <i class="mgc_edit_line text-lg"></i> </a>
                            <a href="javascript:void(0);" class="ms-0.5"> <i class="mgc_delete_line text-xl"></i> </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}