
{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
  Project-Details | Task Unity
{% endblock %}

{% block content %}

     
          <!-- Page Title Start -->
          <div class="flex justify-between items-center mb-6">
            <h4 class="text-slate-900 dark:text-slate-200 text-lg font-medium">Project Details</h4>
          

            <div class="md:flex hidden items-center gap-2.5 text-sm font-semibold">
              <div class="flex items-center gap-2">
                <a href="/" class="text-sm font-medium text-slate-700 dark:text-slate-400">Task Unity</a>
              </div>

              <div class="flex items-center gap-2">
                <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                <a href="#" class="text-sm font-medium text-slate-700 dark:text-slate-400">Project</a>
              </div>

              <div class="flex items-center gap-2">
                <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                <a href="#" class="text-sm font-medium text-slate-700 dark:text-slate-400" aria-current="page">Project Detail</a>
              </div>
            </div>
          </div>
          <!-- Page Title End -->
          {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="bg-red-500 text-sm text-white rounded-md mb-2 p-3 inline-block" role="alert">
                  {{ message }}
              </div>
              {% else %}
              <div class="bg-green-500 text-sm text-white rounded-md mb-2 p-3 inline-block" role="alert">
                  {{ message }}
              </div>
              {% endif %}
          {% endfor %}
          {% endif %}
          <div class="grid lg:grid-cols-3 gap-6">
            <div class="lg:col-span-3">
              <div class="card">
                <div class="flex flex-wrap justify-between items-center gap-2 p-4">
                  <h6 class="card-title">Project Overview | {{ project.name }}</h6>     
                  {% if request.user.is_superuser or is_project_manager %}
            
                  <div class="flex flex-wrap gap-2">
                    <a href = "/update_project/{{project.id}}/">

                      <button type="button" class="btn bg-dark/25 text-sm font-medium text-slate-900 dark:text-slate-200/70 hover:text-white hover:bg-dark/90"> <i class="mgc_edit_line me-3"></i> Update</button>

                    </a>                    <a href = "/delete_project/{{project.id}}/">

                      <button type="button"  class="btn bg-danger/25 text-danger hover:bg-danger hover:text-white"> <i class="mgc_delete_line me-3"></i> Delete</button>

                    </a>
                  </div>
                  {%endif%}
              </div>
              <hr></hr>
                

                <div class="p-6">
                  <div class="grid lg:grid-cols-4 gap-6">
                    <!-- stat 1 -->
                    <div class="flex items-center gap-5">
                      <i data-feather="grid" class="h-10 w-10"></i>
                      <div class="">
                        <h4 class="text-lg text-gray-700 dark:text-gray-300 font-medium">{{ total_tasks }}</h4>
                        <span class="text-sm">Total Tasks</span>
                      </div>
                    </div>

                    <!-- stat 2 -->
                    <div class="flex items-center gap-5">
                      <i data-feather="check-square" class="h-10 w-10"></i>
                      <div class="">
                        <h4 class="text-lg text-gray-700 dark:text-gray-300 font-medium">{{ completed_tasks }}</h4>
                        <span class="text-sm">Total Tasks Completed</span>
                      </div>
                    </div>

                    <!-- stat 3 -->
                    <div class="flex items-center gap-5">
                      <i data-feather="users" class="h-10 w-10"></i>
                      <div class="">
                        <h4 class="text-lg text-gray-700 dark:text-gray-300 font-medium">{{team_member|length}}</h4>
                        <span class="text-sm">Total Team Size</span>
                      </div>
                    </div>
                    <!-- stat 3 -->
                    <div class="flex items-center gap-5">
                      <i data-feather="clock" class="h-10 w-10"></i>
                      <div class="">
                        <h4 class="text-lg text-gray-700 dark:text-gray-300 font-medium">{{ total_hours_spent|floatformat:2 }}</h4>
                        <span class="text-sm">Total Hours Spent</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="lg:col-span-2">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">About Project</h4>
                </div>

                <div class="p-6">
                  <div>
                    <p class="text-gray-500 mb-4 text-sm">{{ project.description }}</p>
                    <ul class="ps-9 mb-9 list-disc">
                      <li>............</li>
                      
                    </ul>

                    <div class="mb-6">
                      <h6 class="font-medium my-3 text-gray-800">Tags</h6>
                      <div class="uppercase flex gap-4">
                        Html , CSS ,JS                       
                      </div>
                    </div>

                    <div class="grid grid-cols-4 gap-6">
                      <div class="">
                        <div class="">
                          <p class="mb-3 text-sm uppercase font-medium">
                            <i class="uil-calender text-red-500 text-base"></i> Start Date
                          </p>
                          <h5 class="text-base text-gray-700 dark:text-gray-300 font-medium">{{ project.date_created }}</h5>
                        </div>
                      </div>
                      <div class="">
                        <p class="mb-3 text-sm uppercase font-medium">
                          <i class="uil-calendar-slash text-red-500 text-base"></i> Due Date
                        </p>
                        <h5 class="text-base text-gray-700 dark:text-gray-300 font-medium">{{ project.due_date }}</h5>
                      </div>
                      <div class="">
                        <p class="mb-3 text-sm uppercase font-medium">
                          <i class="uil-dollar-alt text-red-500 text-base"></i> Budget
                        </p>
                        <h5 class="text-base text-gray-700 dark:text-gray-300 font-medium">{{ project.price }}</h5>
                      </div>

                      <div class="">
                        <p class="mb-3 text-sm uppercase font-medium">
                          <i class="uil-user text-red-500 text-base"></i> Owner
                        </p>
                        <h5 class="text-base text-gray-700 dark:text-gray-300 font-medium">Saraj Dhakal</h5>
                      </div>
                    </div>
                    {% if project.attachments %}
                    <div class="mt-6">
                      <h6 class="text-gray-800 font-medium mb-3">Attached Files</h6>
                      <div class="grid md:grid-cols-4 gap-3">
                        {% for attachment in project.attachments %}
                        <div class="p-2 border border-gray-200 dark:border-gray-700 rounded mb-2">
                          <div class="flex items-center">
                            <div class="h-9 w-9 rounded flex justify-center items-center text-primary bg-primary/20 me-3">
                              <i class="mgc_file_new_line text-xl"></i>
                            </div>
                            <div class="">
                            <a href="{{ attachment }}" download class="text-sm font-medium">{{ attachment|basename }}</a>
                            </div>
                            <div>
                              <a href="{{ attachment }}" download class="p-2"><i class="mgc_download_line text-xl"></i></a>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                       
                      </div>
                    </div>
                    {% endif %}

                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-span-1">
              <div class="card">
                <div class="card-header">
                  <h6 class="card-title">Projects Assigned to</h6>
                </div>
                <div class="table overflow-hidden w-full">
                  <div class="divide-y divide-gray-300 dark:divide-gray-700 overflow-auto w-full max-w-full">
                

                    {% for user, image_url in user_employee_images.items %}
                    <div class="p-3">
                      <div class="flex items-center gap-3">
                        <div class="h-10 w-10 flex-shrink-0">
                          <img class="h-10 w-10 rounded-full" src="{{ image_url }}" alt="{{ user.username }}'s profile picture" />
                        </div>
                        <div class="flex-grow truncate">
                          <div class="font-medium text-gray-900 dark:text-gray-300">{{ user.username }}</div>
                          <p class="text-gray-600 dark:text-gray-400">{{user.email}}</p>
                        </div>
                        <div class="px-3 py-1 md:block hidden rounded text-xs font-medium">{{user.employee.position}}</div>
                       
                      </div>
                    </div>
                       
                {% endfor %}
            

                   

                   
                  </div>
                </div>
              </div>
            </div>
          </div>
       
                
    
  {% endblock %}
