{% extends 'base.html' %}
{% load static %}
{% block title %}
  Create Project | Task Unity
{% endblock %}

{% block content %}
    
                <!-- Page Title Start -->
                <div class="flex justify-between items-center mb-6">
                    <h4 class="text-slate-900 dark:text-slate-200 text-lg font-medium">Create Project</h4>
                   
                    <div class="md:flex hidden items-center gap-2.5 text-sm font-semibold">
                        <div class="flex items-center gap-2">
                            <a href="/" class="text-sm font-medium text-slate-700 dark:text-slate-400">Task Unity</a>
                        </div>

                        <div class="flex items-center gap-2">
                            <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                            <a href="#" class="text-sm font-medium text-slate-700 dark:text-slate-400">Project</a>
                        </div>

                        <div class="flex items-center gap-2">
                            <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
                            <a href="#" class="text-sm font-medium text-slate-700 dark:text-slate-400" aria-current="page">Create Project</a>
                        </div>
                    </div>
                </div>

                {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="bg-red-500 text-sm text-white rounded-md mb-2 p-3 inline-block" role="alert">
                        {{ message }}
                    </div>
                    {% else %}
                    <div class="bg-green-500 text-sm text-white rounded-md mb-2 p-3 inline-block" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
                <!-- Page Title End -->
                <form action="" method="POST" enctype="multipart/form-data" >
                    {%  csrf_token %}
                <div class="grid lg:grid-cols-4 gap-6">
                  
                    <div class="col-span-1 flex flex-col gap-6">
                        <div class="card p-6">
                            <div class="flex justify-between items-center mb-4">
                                <h4 class="card-title">Add Avatar Images</h4>
                                <div class="inline-flex items-center justify-center rounded-lg bg-slate-100 dark:bg-slate-700 w-9 h-9">
                                    <i class="mgc_add_line"></i>
                                </div>
                            </div>
                            <div class="dropzone" id="my-dropzone">
                             
                            <div class="fallback">
                                <input name="image" type="file" multiple="multiple">
                            </div>
                            <div class="dz-message needsclick w-full">
                                <div class="mb-3">
                                    <i class="mgc_upload_3_line text-4xl text-gray-300 dark:text-gray-200"></i>
                                </div>

                                <h5 class="text-xl text-gray-600 dark:text-gray-200">Drop files here or click to upload.</h5>
                            </div>
                        </div>

                            <div class="">
                               
                            </div>
                        </div>

                        <div class="card p-6">
                            <div class="flex justify-between items-center mb-4">
                                <p class="card-title">Team Members</p>
                                <div class="inline-flex items-center justify-center rounded-lg bg-slate-100 dark:bg-slate-700 w-9 h-9">
                                    <i class="mgc_compass_line"></i>
                                </div>
                            </div>

                            <div class="flex flex-col gap-3">
                                <div class="">
    
                                    <select id="search-select" name ="team_member"class="search-select" multiple="multiple">
                                       
                                      {% for user in users %}
                                  <option value={{user.id}}>{{ user.username }}</option>
                                  {% endfor %}
                                    </select>
                                </div>

                               
                            </div>
                        </div>
                    </div>

                    <div class="lg:col-span-3 space-y-6">
                        <div class="card p-6">
                            <div class="flex justify-between items-center mb-4">
                                <p class="card-title">Project Information</p>
                                <div class="inline-flex items-center justify-center rounded-lg bg-slate-100 dark:bg-slate-700 w-9 h-9">
                                    <i class="mgc_transfer_line"></i>
                                </div>
                            </div>

                            <div class="flex flex-col gap-3">
                                <div class="">
                                    <label for="project-name" class="mb-2 block">Project Name</label>
                                    <input type="text" id="project-name" name="name" class="form-input" placeholder="Enter Project Name" aria-describedby="input-helper-text">
                                </div>

                                <div class="">
                                    <label for="project-description" class="mb-2 block">Project Description <span class="text-red-500">*</span></label>
                                    <textarea id="project-description" name="description" placeholder="Enter Project Description" class="form-input" rows="8"></textarea>
                                </div>



                                <div class="grid md:grid-cols-2 gap-3">
                                    <div class="">
                                     <label for="product-status" class="mb-2 block">Status <span class="text-red-500">*</span></label>
                                     <div class="flex gap-x-6">
                                        <div class="flex">
                                            <input type="radio" name="status" value="Private" class="form-radio" id="private" checked>
                                            <label for="private" class="text-sm text-gray-500 ms-2 dark:text-gray-400">Private</label>
                                        </div>

                                        <div class="flex">
                                            <input type="radio" name="status" value="Team" class="form-radio" id="team">
                                            <label for="team" class="text-sm text-gray-500 ms-2 dark:text-gray-400">Team</label>
                                        </div>

                                        <div class="flex">
                                            <input type="radio" name="status" value="Public" class="form-radio" id="public">
                                            <label for="public" class="text-sm text-gray-500 ms-2 dark:text-gray-400">Public</label>
                                        </div>
                                      </div>
                                  </div>

                                    <div class="">
                                        <label for="due-date" class="mb-2 block">Due Date</label>
                                        <input type="date" name="due_date" id="due-date" class="form-input"></input>
                                    </div>
                                </div>
                                <div class="grid md:grid-cols-2 gap-3">
                                <div>
                                    <label for="select-label" class="mb-2 block">Progress</label>
                                    <select id="select-label" name="progress" class="selectize">
                                        <option selected>Not Started</option>
                                        <option>Completed</option>
                                        <option>In Progress</option>
                                    </select>
                                </div>

                                <div>
                                    <label for="select-label" class="mb-2 block">Category</label>
                                    <select id="select-label" name="category" class="selectize">
                                        <option selected>Web Development</option>
                                        <option>Android App</option>
                                        <option>Firewall</option>
                                        <option>IOS app</option>
                                        
                                    </select>
                                </div>
                            </div>
                                <div>
                                    <label for="budget" class="mb-2 block">Budget</label>
                                    <input type="number"  name="price" id="budget" class="form-input" placeholder="Enter Project Budget"></input>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lg:col-span-4 mt-5">
                        <div class="flex justify-center gap-3">
                            <button type="reset" class="inline-flex items-center rounded-md border border-transparent bg-red-500 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none">
                                Cancel
                            </button>
                            <button type="submit" class="inline-flex items-center rounded-md border border-transparent bg-green-500 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-500 focus:outline-none">
                                Save
                            </button>
                        </div>
                    </div>
              
                </div>
            </form>
    

           {% endblock %}
