{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
  Project-List | Task Unity
{% endblock %}

{% block content %}
  <!-- Page Title Start -->
  <div class="flex justify-between items-center mb-6">
    <h4 class="text-slate-900 dark:text-slate-200 text-lg font-medium">Project List</h4>
    <form>
      <div class="flex card">
      <input  name="search" placeholder="Search a project..." type="text" required class="form-input">
      <button type = "submit" class = "btn btn-primary inline-block"><i class="mgc_search_line text-2xl"></i></button>

      </div>
    </form>    <div class="md:flex hidden items-center gap-2.5 text-sm font-semibold">

      <div class="flex items-center gap-2">

        <a href="/" class="text-sm font-medium text-slate-700 dark:text-slate-400">Task Unity</a>
      </div>

      <div class="flex items-center gap-2">
        <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
        <a href="#" class="text-sm font-medium text-slate-700 dark:text-slate-400">Project</a>
      </div>

      <div class="flex items-center gap-2">
        <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
        <a href="#" class="text-sm font-medium text-slate-700 dark:text-slate-400" aria-current="page">Project List</a>
      </div>
    </div>
  </div>
  <!-- Page Title End -->

  {% if messages %}
  {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="bg-red-500 text-sm text-white rounded-md mb-2 p-3 inline-block" role="alert">
          {{ message }}
      </div>
      {% else %}
      <div class="bg-green-500 text-sm text-white rounded-md mb-2 p-3 inline-block" role="alert">
          {{ message }}
      </div>
      {% endif %}
  {% endfor %}
  {% endif %}

  <div class="flex flex-auto flex-col">
    <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6">
       {% for project in projects %}
        <div class="card">
        <div class="card-header">
          <div class="flex justify-between items-center">
            <h5 class="card-title">{{ project.category }}</h5>
            <div class="{% if project.progress == 'Completed' %}bg-success
                        {% elif project.progress == 'In Progress' %}bg-warning/60
                        {% else %}bg-danger

                           {% endif %}
                           text-xs text-white rounded-md py-1 px-1.5 font-medium" role="alert">
    <span>{{ project.progress }}</span>
</div>


          </div>
        </div>
        <div class="flex flex-col">
          <div class="py-3 px-6">
            <h5 class="my-2"><a href="/project_details/{{ project.id }}/" class="text-slate-900 dark:text-slate-200">{{ project.name }}</a></h5>
            <p class="text-gray-500 text-sm mb-9">{{ project.description }}</p>

            <div class="flex -space-x-2">
              <a href="javascript: void(0);"><img class="inline-block h-12 w-12 rounded-full border-2 border-white dark:border-gray-700" src="{% static 'assets/images/users/saraj.jpg' %}" alt="Image Description" /></a>
              <a href="javascript: void(0);"><img class="inline-block h-12 w-12 rounded-full border-2 border-white dark:border-gray-700" src="{% static 'assets/images/users/saraj.jpg' %}" alt="Image Description" /></a>
              <a href="javascript: void(0);">
                <div class="relative inline-flex">
                  <button class="inline-flex items-center justify-center h-12 w-12 rounded-full bg-gray-200 border-2 border-white font-medium text-gray-700 shadow-sm align-middle dark:bg-gray-700 dark:text-gray-200 dark:border-gray-600 transition-all text-sm"><span class="font-medium leading-none"> {{ project.team_member.all|length|add:"-2" }}+</span></button>
                </div>
              </a>
            </div>
          </div>

          <div class="border-t p-5 border-gray-300 dark:border-gray-700">
            <div class="grid lg:grid-cols-2 gap-4">
              <div class="flex items-center justify-between gap-2">
                <a href="#" class="text-sm">
                  <i class="mgc_calendar_line text-lg me-2"></i>
                  <span class="align-text-bottom">{{ project.due_date }}</span>
                </a>

                <a href="#" class="text-sm">
                  <i class="mgc_align_justify_line text-lg me-2"></i>
                  <span class="align-text-bottom">{{total_project_tasks}}</span>
                </a>

               
              </div>

              {% if project.progress == 'Completed' or project.progress == 'Delivered' %}
              <div class="flex items-center gap-2">
                <div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700 ">
                  
                  <div class="flex flex-col justify-center overflow-hidden bg-success" role="progressbar"
                  
                
                  style="width: 100%" aria-valuenow="100"
                  
                           aria-valuemin="0" aria-valuemax="100"></div>
              </div>
                <span>100%</span>  
              </div>
              {%elif project.progress == 'Not Started'  %}
              <div class="flex items-center gap-2">
                <div class="flex w-full h-1.5 bg-gray-200 rounded-full overflow-hidden dark:bg-gray-700 ">
                  
                  <div class="flex flex-col justify-center overflow-hidden bg-success" role="progressbar"
                  
                
                  style="width: 0%" aria-valuenow="100"
                  
                           aria-valuemin="0" aria-valuemax="100"></div>
              </div>
                <span>0%</span>  
              </div>
              
              {% elif project.progress == 'In Progress'  %}
              <div class="flex items-center gap-2">
                
              
              <span>Project In Progress</span>  
                   
              
              </div>
              {%endif%}
              

            </div>
          </div>
        </div>
      </div>

      {% endfor %}  
  </div>
{% endblock %}
