{% extends 'base.html' %}
{% load static %}
{% block title %} Company | Task Unity {% endblock %}

{% block content %}


  <!-- Page Title Start -->
  <div class="flex justify-between items-center mb-6">
    <h4 class="text-slate-900 dark:text-slate-200 text-lg font-medium">Create User</h4>

    <div class="md:flex hidden items-center gap-2.5 text-sm font-semibold">
        <div class="flex items-center gap-2">
            <a href="/" class="text-sm font-medium text-slate-700 dark:text-slate-400">Task Unity</a>
        </div>

        <div class="flex items-center gap-2">
            <i class="mgc_right_line text-lg flex-shrink-0 text-slate-400 rtl:rotate-180"></i>
            <a href="kanban" class="text-sm font-medium text-slate-700 dark:text-slate-400" aria-current="page">Create User</a>
        </div>
    </div>
</div>


<!-- Page Title End -->


<div class="card p-6">
    <a href="/" class="block mb-8 flex justify-center items-center">
        <img class="h-12 block dark:hidden" src="{% static 'assets/images/2.png' %}" alt="" />
        <img class="h-12 hidden dark:block" src="{% static 'assets/images/3.png' %}" alt="" />
    </a>

     {% for message in messages %}
          {{ message }}
        {% endfor %}


      <form action="" method="POST">
          {% csrf_token %}
          <div class="mb-4">
              <label class="block text-sm font-medium text-gray-600 dark:text-gray-200 mb-2" for="LoggingEmailAddress">Username</label>
              {{ form.username }}
              {% if form.username.errors %}
                  <div class="text-red-600 text-sm">
                      {% for error in form.username.errors %}
                          <p>{{ error }}</p>
                      {% endfor %}
                  </div>
              {% endif %}
          </div>

          <div class="mb-4">
              <label class="block text-sm font-medium text-gray-600 dark:text-gray-200 mb-2" for="LoggingEmailAddress">Email Address</label>
              {{ form.email }}
              {% if form.email.errors %}
                  <div class="text-red-600 text-sm">
                      {% for error in form.email.errors %}
                          <p>{{ error }}</p>
                      {% endfor %}
                  </div>
              {% endif %}
          </div>

          <div class="mb-4">
              <label class="block text-sm font-medium text-gray-600 dark:text-gray-200 mb-2" for="loggingPassword">Password</label>
              {{ form.password1 }}
              {% if form.password1.errors %}
                  <div class="text-red-600 text-sm">
                      {% for error in form.password1.errors %}
                          <p>{{ error }}</p>
                      {% endfor %}
                  </div>
              {% endif %}
          </div>

          <div class="mb-4">
              <label class="block text-sm font-medium text-gray-600 dark:text-gray-200 mb-2" for="loggingPassword">Confirm Password</label>
              {{ form.password2 }}
              {% if form.password2.errors %}
                  <div class="text-red-600 text-sm">
                      {% for error in form.password2.errors %}
                          <p>{{ error }}</p>
                      {% endfor %}
                  </div>
              {% endif %}
          </div>

          <div class="flex justify-center mb-6">
              <button type="submit" class="btn w-full text-white bg-primary">Create User</button>
          </div>
      </form>

      <div class="flex items-center my-6">
          <div class="flex-auto mt-px border-t border-dashed border-gray-200 dark:border-slate-700"></div>
          <div class="mx-4 text-secondary">Or</div>
          <div class="flex-auto mt-px border-t border-dashed border-gray-200 dark:border-slate-700"></div>
      </div>

      <p class="text-gray-500 dark:text-gray-400 text-center">
          Already have an account? <a href="{% url 'login' %}" class="text-primary ms-1"><b>Log In</b></a>
      </p>
  </div>


{% endblock %}
